<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
<%- includes('./includes/btlink.ejs') %>
  <link rel="stylesheet" href="http://localhost:1000/css/grid.css">
  <link rel="stylesheet" href="http://localhost:1000/css/main-image.css">
</head>

<body>

  <div class="gridcontainer">
    <%= result.forEach((kingdom)=> { %>
      <div id="<%= kingdom.name %>" class="card" style="width: 18rem;">
        <img src="http://localhost:1000/img/<%= kingdom.name %>.jpeg" class="card-img-top main-image"
          alt="hewan ini termasuk <%= kingdom.name %>">
        <div class="card-body">
          <h5 class="card-title">
            <%= kingdom.name %>
          </h5>
          <p class="card-text">Kingdom pertama dalam taksonomi adalah kingdom <%= kingdom.name %>
          </p>
          <a href="/species/:<%= kingdom.id %>" class="btn btn-primary">masuk ke kingdom</a>
        </div>
        <%= }) %>
      </div>
  </div>
  <%- includes('./includes/btscript.ejs') %>

</body>

</html>